LOG_LEVEL=debug

SYSTEM_SKILLS_ENABLED=False
SANDBOX_ENABLED=True

OWNER_USERNAME=Nickname

POSTGRES_HOST=localhost
POSTGRES_PORT=port
POSTGRES_USER=user
POSTGRES_PASSWORD=passwd
POSTGRES_DB=DB
POSTGRES_ASYNCPG=asyncpg

REDIS_HOST=localhost
REDIS_PORT=port

RABBITMQ_HOST
RABBITMQ_PORT
RABBITMQ_USER
RABBITMQ_PASSWORD

QDRANT_HOST
QDRANT_PORT

GEMINI_API_KEY
OPENROUTER_API_KEY

TELEGRAM_BOT_TOKEN=tg_token
TELEGRAM_WEBHOOK_URL=

